@media (min-width: 37.5rem) {
  
body {
    background-color: rgb(0, 0, 0);
}

img {
    display: flex; /* set the container to be a flex container */
    clip-path: ellipse(9.375rem 8.125rem at 50% 20%);
    margin: auto;
    display: block;
    width: 10%;

}

div {
    display: flex;
    justify-content: center;
}

.bording {
    column-count: 2; /* Specify the number of columns */
    column-gap: 5%; /* Specify the gap between columns */
    background-color: rgb(244, 175, 69);
    border-radius: 20px 20px 0px 0px;
    margin:  0 25%;
}

.border {
    column-count: 2; /* Specify the number of columns */
    column-gap: 5%; /* Specify the gap between columns */
    background-color: rgb(215, 133, 9);
    border-radius: 0px;
    margin:  0 25%;
}

.square {
    display: flex; /* set the container to be a flex container */
    width: 50%;
    height: 25%;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 25%; /* vertically center the text */
    border-radius: 0px;
}

.grid-container {
    display: flex; /* set the container to be a flex container */
    flex-wrap: wrap; /* allow items to wrap to the next row if they don't fit */
    justify-content: space-between; /* distribute the items evenly along the main axis */
    border-radius: 0px;
    margin:  0 25%;
    background-color: rgb(244, 175, 69);
  }
  
  .grid-item {
    flex: 1; /* set the flex-basis property to 1 */
    height: 9.375rem; /* set a fixed height for the items */
    margin: 0.625rem; /* add some margin around the items */
    border-radius: 0px;
  }


.column {
    column-count: 2; /* Specify the number of columns */
    column-gap: 5%; /* Specify the gap between columns */
    background-color: rgb(244, 175, 69);
    border-radius: 0px;
    margin:  0 25%;
}

.footer{
    column-count: 2; /* Specify the number of columns */
    column-gap: 5%; /* Specify the gap between columns */
    background-color: rgb(220, 212, 201);
    border-radius: 0;
    margin:  0 25%;
}

.footer2{
    column-count: 2; /* Specify the number of columns */
    column-gap: 5%; /* Specify the gap between columns */
    background-color: rgb(220, 212, 201);
    border-radius: 0px 0px 20px 40px;
    margin:  0 25%;
}

.font-change {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

.font-change2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
}
}